@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Corinthia&family=Oranienbaum&family=Rancho&display=swap');

.about{
  margin-top: -12vh;
  padding-bottom: 15vh;
  background-color: #411900;
}

.wave{
    height: 10px;
    position: relative;
    background-color: #411900;
    bottom:5px;
  }
  
  .wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    background-size: 20px 20px;
    background-image:
     radial-gradient(circle at 10px -5px, transparent 12px, #411900 13px);
  }
  .wave::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25px;
    background-size: 40px 20px;
    background-image:
      radial-gradient(circle at 10px 15px, #411900 12px, transparent 13px);
      
  }
.header {
    font-family: 'Corinthia', cursive;
    font-size: 60px;
    margin :10px;
    padding: 60px;
    text-align: center;
    margin-bottom: 40px;
    line-height:13vh;
    color:white;

}

.Acontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.aboutimg{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
 
}

.aboutimg img{
    height:90vh;
    border-radius: 20px 0 0 20px;
    bottom:20px;
} 

.rightrec{
    background-color: #CE1440;
    height: 90vh;
    width: 40%;
    border-radius: 0 10px 10px 0px;
    align-items: center;
   

}

.title{
    font-family: 'Corinthia', cursive;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 50px;
  margin-top: 2em;

}

.title2{
    color: white;
    font-family: 'Rancho', cursive;
    text-align: center;
    font-size: 50px;
}

.intro{
    color: white;
    font-family: 'Alegreya', serif;
    margin:80px;
    font-size: 25px;
    text-align: center;
}

.rightrec hr{
    color:white;
    width:50%;
    margin: auto;
    
}

.header hr{
    color:#CE1440;
    /* border-style: dotted; */
    width:50%;
    margin:auto;

}