@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Corinthia&family=Oranienbaum&family=Rancho&display=swap');

.galleryContainer{
    height:100vh;
  /* background-repeat: no-repeat;
  background-size: auto;
 
 background-position:top ; */
   background-color: #BEFBFF;
}

.gallery{
    margin: auto;
    font-family: 'Corinthia', cursive;
    font-size: 60px;
    padding:60px;
    text-align: center;

}

.gallery hr{
    color: #CE1440;
    width:50%;
    margin:auto;
}

.picgal{
    width:100%;
    display: flex;
    grid-gap:20px;
    overflow-x: scroll;
    overflow: none;

}

.pic1 img{
    height:50vh;
}

.pic1{
    /* background-color: #FFEAE9; */
    margin:5vh;
}

.wave2{
    height: 10px;
    position: relative;
    /* background-color: #FEBAC7; */
    bottom:5px;
  }
  
  .wave2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    background-size: 20px 20px;
    background-image:
     radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
  }
  .wave2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25px;
    background-size: 40px 20px;
    background-image:
      radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
      
  }

  .wave3{
    height: 10px;
    position: relative;
    
    bottom:5px;

  }
  
  .wave3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 15px;
    background-size: 20px 20px;
    background-image:
     radial-gradient(circle at 10px -5px, transparent 12px,#BEFBFF 13px);
  }
  .wave3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
    background-size: 40px 20px;
    background-image:
      radial-gradient(circle at 10px 15px,#BEFBFF  12px, transparent 13px);
      
  }