@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Corinthia&family=Oranienbaum&family=Rancho&display=swap');

.galleryContainer{
    height:100vh;
    width:100%;
    
   
}
.gallery{
    margin: auto;
    font-family: 'Corinthia', cursive;
    font-size: 60px;
    padding:60px;
    text-align: center;

}

.gallery hr{
    color: #CE1440;
    width:50%;
    margin:auto;
}

.picgal{
    width:100%;
    display: flex;
    grid-gap:20px;
    overflow-x: scroll;
    overflow: none;

}

.pic1 img{
    height:50vh;
}

.pic1{
    /* background-color: #FFEAE9; */
    margin:5vh;
}