@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Corinthia&family=Oranienbaum&family=Rancho&display=swap');


.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    gap:2px;
    background-color: #FFE4E3;

  }
  .menu .menuTitle {
 font-family: 'Oranienbaum', serif;
    font-size: 60px;
 
    margin-bottom: 10vh;
    margin-left: 8vh;
    margin-right:8vh;
    background-color: #CE1440;
    color: white;
    padding:3vh;
    border-radius: 2vh;
    text-align: center;
  }
  
  .menuList {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .menuItem {
    border-radius: 15px;
    width:25vw;
    height: 80vh;
    margin: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .menuItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .menuItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .menuList{
    padding:40px;
    border-radius: 10px;
   
  }
  .menuItem{
    transition: all 0.5s cubic-bezier(.48,-0.28,0.41,1.4);
    box-sizing: border-box;
    overflow: hidden;
  }

  .menuItem:hover 
  
  .menuItem h1,
  .menuItem p {
    text-align: center;
    font-family: 'Alegreya', serif;
    margin: 20px;
  }

  .menuItem p{
    font-size: 30px;
    line-height: 1.5em;
  }
  
  @media only screen and (max-width: 1300px) {
    .menuList {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .menuList {
      grid-template-columns: 1fr;
    }
  }