@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

.navContainer{
    padding:0;
    margin:0;
}
.detail{
    display: flex;
    height:7vh;
    width:100%;
    background-color:#CE1440;
    
}
.detail p{
    color: white;
    margin:15px 5px 5px 100px;
    font-family: 'Oranienbaum', serif;
    font-size: 20px;


}
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}


.navbar .logo {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top:10px;
    z-index: 2;
}

.navbar .logo img{
    display: inline;
    margin: auto ;
    height: 100%;
    width: auto;
}

.navbar a{
    color: black;
    text-decoration: none;
    margin: 30px;
   padding-bottom: 50px;
}
.navbar .right{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oranienbaum', serif;
    font-size: 25px;
}

.navbar .left{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oranienbaum', serif;
    font-size: 25px;
}

.wave0{
    height: 30px;
    position: relative;
    background: white;
    bottom: 4rem;

  }
  

  
  .wave0::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
     radial-gradient(circle at 10px -5px, transparent 12px, #FFE4E3 13px);
  }
  .wave0::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
      radial-gradient(circle at 10px 15px, #FFE4E3 12px, transparent 13px);
  }

  