@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Corinthia&family=Oranienbaum&family=Rancho&display=swap');

.speciality{
    width:100%;
    height:120vh;
    background-repeat: no-repeat;
}


.specialHeader{
    font-family: 'Corinthia', cursive;
    text-align: center;
    font-size: 60px;
    margin: 65px;
    padding-top: 30px;
    line-height:14vh;
    padding-bottom: 10vh;
    color: white;
 
}

.specialHeader hr{
    color: #CE1440;
    width:50%;
    margin:auto;

}

.descContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap:10vh;
}

.icons{
   display: flex;
   width: 100vw;
   gap:20%;
    justify-content: center;
    align-items: center;
}

.icons .range{
    background-color: #CE1440;
    height:200px;
    width:200px;
    border-radius: 10px;
    display: flex;
}

.range img{
    height:70px;
    width:70px;
    margin: auto;
    
}

.icons .donut{
    background-color: #CE1440;
    height:200px;
    width:200px;
    border-radius: 10px;
    display: flex;
}

.donut img{
    display: block;
    height:55px;
    width:55px;
    margin:auto;
    align-items: center;
}

.icons .cake{
    background-color: #CE1440;
    height:200px;
    width:200px;
    border-radius: 10px;
    display: flex;
}
.cake img{
    display: block;
    height:70px;
    width:70px;
    margin:auto;
}



.Head{
    display: flex;
    width: 90vw;
    gap:10%;
    text-align: center;
    justify-content: center;
    background-color: white;
   
}

.VHeader{
    padding: 20px;
    border-radius: 10px  ;
    width:50%;

  
}

.DHeader{
    padding: 20px;
    border-radius: 10px;
    width:50%;
}
.CHeader{
    padding: 20px;
    border-radius: 10px;
    width:50%;

}
.VHeader h2{
    font-family: 'Oranienbaum', serif;
    font-size: 30px;
    font-weight: 100;
}
.VHeader p{
    font-family: 'Alegreya', serif;
 
}
.DHeader h2{
  
    font-family: 'Oranienbaum', serif;
    font-size: 30px;
    font-weight: 100;

}
.DHeader p{
    font-family: 'Alegreya', serif;
}
.CHeader h2{
    font-family: 'Oranienbaum', serif;
    font-size: 30px;
    font-weight: 100;
}
.CHeader p{
    font-family: 'Alegreya', serif;
}








